.DS_Store
*verbose*.txt
*.tar.gz
*.Rproj.user*
*.Rhistory
*.Ruserdata
*.out
.Rproj.user
*.Rout
.Rout
*.ROut
.ROutc
results/
figures/*.RData
results/*.RData
results/old/*.RData
simulation/*.RData
experiment/*.RData
data/*.RData
*cache*
cache
_files
*_files*
